@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    /* background-color: transparent; */
    background-color: black;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-top: auto;
}
.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.nav a:hover,
.nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}
@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
    background-color: black; /* ! change this to black later*/
    padding-top: 13rem;
    margin-left: 12rem;

}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;

}
.home-content h5{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-content p{
    font-size: 1.6rem;
    text-align: justify;
}
.home-img{
    margin-bottom: 5rem;
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 24vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}
/* delete nalang ba toh? */
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
    
}
.social-icons a{
    display: inline-block;
    justify-content: right;
    align-items: left;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}
.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;

    
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: " ";
    color: #b74b4b;
    animation: words 7s infinite;
}
.typing-text span::after{
    content: " ";
    background-color: black;
    position: in-line;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.7s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}
@keyframes words{
    0%, 2.94%{
        content: "I";
    }
    2.95%, 5.88%{
        content: "I.";
    }
    5.89%, 8.82%{
        content: "I.T";
    }
    8.83%, 11.76%{
        content: "I.T.";
    }
    11.77%, 14.7%{
        content: "I.T. ";
    }
    14.71%, 17.64%{
        content: "I.T. P";
    }
    17.65%, 20.58%{
        content: "I.T. Pr";
    }
    20.59%, 23.52%{
        content: "I.T. Pro";
    }
    23.53%, 26.46%{
        content: "I.T. Prof";
    }
    26.47%, 29.4%{
        content: "I.T. Profe";
    }
    29.41%, 32.34%{
        content: "I.T. Profes";
    }
    32.35%, 35.28%{
        content: "I.T. Profess";
    }
    35.29%, 38.22%{
        content: "I.T. Professi";
    }
    38.23%, 41.16%{
        content: "I.T. Professio";
    }
    41.17%, 44.1%{
        content: "I.T. Profession";
    }
    44.11%, 47.04%{
        content: "I.T. Professiona";
    }
    47.05%, 49.98%{
        content: "I.T. Professional";
    }
    49.99%, 52.92%{
        content: "I.T. Professiona";
    }
    52.93%, 55.86%{
        content: "I.T. Profession";
    }
    55.87%, 58.8%{
        content: "I.T. Professio";
    }
    58.81%, 61.74%{
        content: "I.T. Professi";
    }
    61.75%, 64.68%{
        content: "I.T. Profess";
    }
    64.69%, 67.62%{
        content: "I.T. Profes";
    }
    67.63%, 70.56%{
        content: "I.T. Profe";
    }
    70.57%, 73.5%{
        content: "I.T. Prof";
    }
    73.51%, 76.44%{
        content: "I.T. Pro";
    }
    76.45%, 79.38%{
        content: "I.T. Pr";
    }
    79.39%, 82.32%{
        content: "I.T. P";
    }
    82.33%, 85.26%{
        content: "I.T. ";
    }
    85.27%, 88.2%{
        content: "I.T.";
    }
    88.21%, 91.14%{
        content: "I.T";
    }
    91.15%, 94.08%{
        content: "I.";
    }
    94.09%, 97.02%{
        content: "I";
    }
    97.03%, 100%{
        content: "";
    }
}

@media (max-width: 100px){
    .home{
        gap: 4rem;
    }
    .home-img img{
        margin-bottom: -5rem;
        width: 40px;
        margin-top: 2rem;
    }
}
@media (max-width: 900px) {
    .home {
        flex-direction: column;
        margin: 3.7rem 4rem;
        align-items: center;
    }
    .home .home-content h3 {
        font-size: 2.5rem;
        align-items: center;
    }
    .home-content .my_intro {
        font-size: 5rem;

        display: none;/*  Hide the "Hi, I'm JEFRAN" text */
        
    }

    
    .home-img img {
        
        width: 35vw;
        
    }
    .home-img {
        margin-bottom: -7rem;
        margin-top: -10rem;

    }

    .social-icons {
        text-align: right; /* Right align the social icons */
    }
    .social-icons a {
        margin: 0 1rem; /* Adjust margin for better spacing */
        margin-top: 2rem;
    }
    .home-content {
        display: flex;
        flex-direction: row;
        align-items: right; /* Right align the content */

        
        
    }
    .btn {
        display: inline-block; /* Ensure the button centers properly */
        text-align: center; /* Center align the button */
        margin: 2rem auto; /* Center align the button */
    }
}

/* css for ojt experience */
.display-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    min-height: 220px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.image-placeholder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 200px;
    background-color: #f5f5f5;
    color: #999;
    border: 1px dashed #ccc;
}




/* this is for scrolling */
[id] {
    scroll-margin-top: 100px; /* Adjust this value to match your navbar height */

  }

.skill-content {
    /* scroll-snap-type: y mandatory; */
    /* overflow-y: scroll; */
    /* height: 100vh; */

    color: white;
    background-color: blueviolet;


    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
    

    margin-right: 15rem;
    background-color: black;

    
    gap: 100vh;
    
    




    
    
}



.column img {
    background-color: chocolate;

    position: relative;
    /* width: 24vw; */
    border-radius: 5%;
}



/* css for gallery card in ojt experience */
.gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
            /* 250px */
            gap: 30px; /* ! play with this later */
            max-width: 800px;
            width: 100%;
            margin-top: -50px; 
            background-color: black
            height: 100%;

            /* allowance, when a hover trying to enlarge the cards */
            padding: 10px;
            align-items: stretch;
        }

        .skill-card {
            /* background-color: black; */
            /* background-color: rgb(15, 15, 15); */
            display: flex;
            /* justify-content: first baseline; */
            flex-direction: column;
            align-items: center;
            background-color: transparent;

            /* flex: 1; */
            height: 100%;
            
            /* 1f1f1f */
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 15px;
            text-align: center;
            transition: transform 0.3s ease;
            justify-content: center;

            position: relative;
        }

        .skill-card:hover {
            transform: scale(1.05);
            color: #b74b4b;
            background-color: rgba(0, 0, 0, 0.212);

            /* new stuff */
            cursor: pointer;
            transition: .5s ease;
            /* border: 2px solid #b74b4b; */
            border: 2px solid rgb(15, 15, 15);
            font-weight: 500;
            letter-spacing: 0.1rem;
            z-index: 1;
            margin: -3px;
        }

        .skill-icon {
            font-size: 48px;
            /* color: #3498db; */
            color: #b74b4b;
            /* margin-bottom: 10px; */
            /* margin-left: 25px; */
            /* margin-right: 10px; */

            /* new stuff */
            width: 80px; /* Set equal width */
            height: 80px; /* Set equal height */
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%; /* Make it a circle */
            transition: background-color 0.3s, color 0.3s;
        }
        
        .skill-card:hover .skill-icon {
            color: rgb(15, 15, 15);
          
            background-color: #b74b4b;
            box-shadow: 0  0 25px #b74b4b;
            border-radius: 50%;
            
        }



        .skill-card:hover .skill-title {
            color: white;
            font-size: 1.2em;
        }
        

        .skill-title {
            font-size: 1.2em;
            margin-bottom: 10px;
            color: #333;
        }

        .skill-description {
            color: #666;
            font-size: 0.9em;
        }


        /* THIS IS FOR ABOUT ME */
        .photo-grid {
            padding-top: 5rem;
            background-color: transparent;

        }
        .row {
            background-color: transparent;
            display: flex;
            flex-wrap: wrap;
            /* padding: 0 1px; */
          }
          
          /* Create two equal columns that sits next to each other */
          .column {
            background-color: transparent;
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
          }
          
          .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
          }

        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 800px) {
            .column {
                flex: 50%;
                max-width: 50%;
            }
        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                flex: 100%;
                max-width: 100%;
            }
        }



